.banner {
  background: url('./../images/banner/bg.png') no-repeat center / cover;
  padding: 20px 0;
  opacity: .9;

  &__inner {
    max-width: 1299px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }


  &__wrapper {
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    margin-right: 85px;
    max-width: 730px;
    width: 100%;

    @media (max-width: 992px) {
      width: 80%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 40px;
    max-width: 730px;
    width: 100%;

    @media (max-width: 992px) {
      width: 80%;
      margin-bottom: 20px;
    }
  }

  &__label {
    max-width: 730px;
    width: 100%;
    position: relative;
    left: -20px;

    @media (max-width: 992px) {
      width: 80%;
      left: 0;
    }
  }
}
