.main-table {
  font-family: "Helvetica Neue";
  max-width: 1378px;
  position: relative;
  padding-bottom: 30px;

  &_small {
    max-width: 527px;
    width: 100%;
  }

  &__tables-row {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-bottom: 30px;
  }

  &__title {
    font-family: "Brandon Grotesque";
    font-size: 29px;
    font-weight: 700;
    color: #778aff;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
  }

  &__substrate {
    background: #2a2d3a;
    border-radius: 3px;
    border: 1px solid #f7921d;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: ~'calc(100% - 94px)';

    &_purple {
      border-top: 2px solid #836ecc;
      border-right: 2px solid #a187ff;
      border-bottom: 2px solid #6badce;
      border-left: 2px solid #8abfff;
    }
  }

  &__table {
    max-width: 1037px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    border-collapse: collapse;
  }

  &__header-row {
    background-image: linear-gradient(56deg, rgba(95, 197, 255, .35) 0%, rgba(146, 66, 255, .35) 100%);
  }

  &__row {

    // &::before {
    //   position: absolute;
    //   content: '';
    //   left: 0;
    //   width: 100%;
    //   height: 2px;
    //   background-image: linear-gradient(to left, #9242ff 0%, #5fc5ff 50%, #9242ff 100%);
    // }

    &:last-child .main-table__td {
      border-bottom: none !important;
    }
  }

  &__th {
    height: 48px;
    color: #a8c89e;
    font-size: 21px;
    font-weight: 700;
    color: #c5d5f6;
    padding: 0 12px;
  }

  &__th-rank {
    border: 1px solid #629dbf;
  }

  &__th-country {
    border: 1px solid #5c9bb6;
  }

  &__th-name {
    border: 1px solid #5e9dbd;
  }

  &__th-center-name {
    border: 1px solid #7856b7;
  }

  &__th-points {
    border: 1px solid #7856b9;
  }

  &__td {
    height: 55px;
    border-bottom: 2px solid #6aa9ff;

    &_rank {
      background: #413255;
      font-size: 21px;
      font-weight: 500;
      color: #99a5bd;
      padding-left: 15px;
      position: relative;
    }

    &_down:before {
      position: absolute;
      content: '';
      width: 16px;
      height: 17px;
      left: 50%;
      background: url('./../images/main-table/down.svg') no-repeat center / contain;
      top: 50%;
      transform: translateY(-50%);
    }

    &_up:before {
      position: absolute;
      content: '';
      width: 16px;
      height: 17px;
      left: 50%;
      background: url('./../images/main-table/up.svg') no-repeat center / contain;
      top: 50%;
      transform: translateY(-50%);
    }

    &_equal:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 16px;
      left: 55%;
      background: url('./../images/main-table/equal.svg') no-repeat center / contain;
      top: 48%;
      transform: translateY(-50%);
    }

    &_country {
      background: #312e3e;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &_name {
      background: #36324d;
      color: #f7931d;
      font-size: 21px;
      font-weight: 300;
      padding-left: 15px;
      padding-right: 80px;
    }

    &_center-name {
      background: #312e3e;
      color: #f7931d;
      font-size: 21px;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 80px;
    }

    &_points {
      background: #36324d;
      padding-left: 40px;
      padding-right: 90px;
      font-size: 21px;
      font-weight: 500;
      color: #99a5bd;
    }
  }
}
