{% macro leaderboard_table(leadersData) %}

<div class="leaderboard-table__wrapper">
  <table class="leaderboard-table">
    <tr class="leaderboard-table__header-row">
      <th class="leaderboard-table__th">RANK</th>
      <th class="leaderboard-table__th">PLAYER</th>
      <th class="leaderboard-table__th">GAMES <br /> PLAYED</th>
      <th class="leaderboard-table__th">WINS</th>
      <th class="leaderboard-table__th">WIN <br /> RATIO</th>
      <th class="leaderboard-table__th">KILLS</th>
      <th class="leaderboard-table__th">TOP 10 <br /> FINISHES</th>
      <th class="leaderboard-table__th">TOP 3 <br /> FINISHES</th>
      <th class="leaderboard-table__th">SCORE</th>
    </tr>

    {% for leader in leadersData %}
    <tr class="leaderboard-table__row">
      <td class="leaderboard-table__td leaderboard-table__td_rank">{{leader.rank}}</td>
      <td class="leaderboard-table__td leaderboard-table__td_player">{{leader.player}}</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
      <td class="leaderboard-table__td">1000</td>
    </tr>
    {% endfor %}

  </table>
</div>

{% endmacro %}
