{% macro main_table(class='', type='') %}

  {% if type == 'double' %}
    <div class="main-table__tables-row">

      <div class="main-table__substrate main-table__substrate_purple"></div>

        <div class=" main-table main-table_small">
          <h2 class="main-table__title">Weekly Top 10 Centers</h2>

          <table class="main-table__table">
            <tr class="main-table__header-row">
              <th class="main-table__th main-table__th-rank">Rank</th>
              <th class="main-table__th main-table__th-country">Country</th>
              <th class="main-table__th main-table__th-name">Name</th>
              <th class="main-table__th main-table__th-points">Points</th>
            </tr>

            {% for i in range(0, 3) %}

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_up">1</td>
                <td class="main-table__td main-table__td_country flag-icon-gr"></td>
                <td class="main-table__td main-table__td_name">tayurus</td>
                <td class="main-table__td main-table__td_points main-table__td_points-small">10,735</td>
              </tr>

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_down">2</td>
                <td class="main-table__td main-table__td_country flag-icon-ru"></td>
                <td class="main-table__td main-table__td_name">msharybb</td>
                <td class="main-table__td main-table__td_points main-table__td_points-small">35</td>
              </tr>

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_equal">3</td>
                <td class="main-table__td main-table__td_country flag-icon-ua"></td>
                <td class="main-table__td main-table__td_name">KLG Horizon</td>
                <td class="main-table__td main-table__td_points main-table__td_points-small">2,735</td>
              </tr>

            {% endfor %}
          </table>
        </div>


        <div class="main-table main-table_small">
          <h2 class="main-table__title">Top 10 Most Played Games</h2>

          <table class="main-table__table">
            <tr class="main-table__header-row">
              <th class="main-table__th main-table__th-rank">Rank</th>
              <th class="main-table__th main-table__th-name">Name</th>
              <th class="main-table__th main-table__th-players">Players</th>
            </tr>

            {% for i in range(0, 3) %}

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_up">1</td>
                <td class="main-table__td main-table__td_name">Starcraft 2</td>
                <td class="main-table__td main-table__td_players">100M</td>
              </tr>

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_down">2</td>
                <td class="main-table__td main-table__td_name">Fortnite</td>
                <td class="main-table__td main-table__td_players">1M</td>
              </tr>

              <tr class="main-table__row">
                <td class="main-table__td main-table__td_rank main-table__td_equal">3</td>
                <td class="main-table__td main-table__td_name">Apex Legends</td>
                <td class="main-table__td main-table__td_players">5M</td>
              </tr>

            {% endfor %}
          </table>
        </div>


    </div>
  {% else %}

    <section class="main-table">
      <h2 class="main-table__title">ggChampions Top 10 Weekly Leaderboard</h2>

      <div class="main-table__substrate"></div>

      <table class="main-table__table"  id="top10Champions">
        <tr class="main-table__header-row">
          <th class="main-table__th main-table__th-rank">Rank</th>
          <th class="main-table__th main-table__th-country">Country</th>
          <th class="main-table__th main-table__th-name">Name</th>
          <th class="main-table__th main-table__th-center-name">Center Name</th>
          <th class="main-table__th main-table__th-points">Points</th>
        </tr>


        {% for i in range(0, 3) -%}

          <tr class="main-table__row">
            <td class="main-table__td main-table__td_rank main-table__td_up">1</td>
            <td class="main-table__td main-table__td_country flag-icon-gr"></td>
            <td class="main-table__td main-table__td_name">tayurus</td>
            <td class="main-table__td main-table__td_center-name">ROG CAA</td>
            <td class="main-table__td main-table__td_points">10,735</td>
          </tr>

          <tr class="main-table__row">
            <td class="main-table__td main-table__td_rank main-table__td_down">2</td>
            <td class="main-table__td main-table__td_country flag-icon-ru"></td>
            <td class="main-table__td main-table__td_name">msharybb</td>
            <td class="main-table__td main-table__td_center-name">Bunker Game Center</td>
            <td class="main-table__td main-table__td_points">35</td>
          </tr>

          <tr class="main-table__row">
            <td class="main-table__td main-table__td_rank main-table__td_equal">3</td>
            <td class="main-table__td main-table__td_country flag-icon-ua"></td>
            <td class="main-table__td main-table__td_name">KLG Horizon</td>
            <td class="main-table__td main-table__td_center-name">ROG Las Piñas</td>
            <td class="main-table__td main-table__td_points">2,735</td>
          </tr>

        {% endfor %}
      </table>

    </section>

  {% endif %}

{% endmacro %}
