{% macro player_card(data, class) %}

  <div class="player-card {{data.placeClass}}">
    <div class="player-card__info">
      <div class="player-card__name">{{data.name}}</div>
      <div class="player-card__game-center">{{data.gameCenter}}</div>
      <div class="player-card__status">
        <div class="player-card__place">{{data.place}}</div>
        <div class="player-card__place-label">{{data.placeLabel}}</div>
      </div>
    </div>

    <div class="player-card__image" style="background-image:{{data.playerImg}}"></div>
  </div>

{% endmacro %}
