{% macro site_socials(class='') %}

  <section class="site-socials {{class if class != ''}}">

    <div class="site-socials__wrapper">
      <a href="#" class="site-socials__logo"></a>

      <div class="site-socials__items">
        <a href="#" class="site-socials__item site-socials__item_twitter"></a>
        <a href="#" class="site-socials__item site-socials__item_facebook"></a>
        <a href="#" class="site-socials__item site-socials__item_googleplus"></a>
      </div>
    </div>

  </section>

{% endmacro %}
