{% macro site_steps(type) %}

  <section class="site-steps">
    <div class="site-steps__inner">

      <div class="site-steps__item">
        <img src="./images/site-steps/pc.png" alt="pc" class="site-steps__img"/>
        <div class="site-steps__text site-steps__text_1">Login at <br/> your lan <br/> center </div>
      </div>

      <div class="site-steps__item">
        <img src="./images/site-steps/gamepad.png" alt="pc" class="site-steps__img"/>
        <div class="site-steps__text site-steps__text_2">play your <br/> favourite <br/> games </div>
      </div>

      <div class="site-steps__item">
        <img src="./images/site-steps/gg.png" alt="pc" class="site-steps__img"/>
        <div class="site-steps__text site-steps__text_3">Earn coins <br/> in multiple <br/> ways </div>
      </div>

      <div class="site-steps__item">
        <img src="./images/site-steps/cup.png" alt="pc" class="site-steps__img"/>
        <div class="site-steps__text site-steps__text_4">redeem <br/> coins <br/> for prizes </div>
      </div>

    </div>
  </section>

{% endmacro %}
