{% macro site_footer(type) %}

  <footer class="site-footer">
    <div class="site-footer__inner">
      <nav class="site-footer__nav">
        <ul class="site-footer__list">
          <li class="site-footer__item">
            <a href="#" class="site-footer__link">TERMS & CONDITIONS</a>
          </li>
          <li class="site-footer__item">
            <a href="#" class="site-footer__link">PRIVACY POLICY</a>
          </li>
          <li class="site-footer__item">
            <a href="#" class="site-footer__link">FAQ</a>
          </li>
        </ul>
      </nav>

      <div class="site-footer__secondary">
        <p class="site-footer__copyright">
          2019 Copyright All Rights Reserved
        </p>
      </div>
    </div>
  </footer>

{% endmacro %}
