{% extends "./templates/decorators/_base.html"  %}

{% from "./templates/macros/site-header.html" import site_header %}
{% from "./templates/macros/site-footer.html" import site_footer %}
{% from "./templates/macros/site-steps.html" import site_steps %}
{% from "./templates/macros/site-socials.html" import site_socials %}
{% from "./templates/macros/main-table.html" import main_table %}

{% block page_title %}

{% endblock %}

{% block page_body %}

<div style='background:#262a30'>

	{{site_header('site-header_tall')}}

	{{site_socials('site-socials_homepage')}}

	{{site_steps()}}


	<div class="main-table-wrapper">
		{{main_table()}}
	</div>

	<div class="main-table-wrapper">
		{{main_table('', 'double')}}
	</div>



	{{site_footer()}}

</div>



{% endblock %}
