{% extends "./templates/decorators/_base.html"  %}

{% from "./templates/macros/site-header.html" import site_header %}
{% from "./templates/macros/site-footer.html" import site_footer %}
{% from "./templates/macros/leaderboard-table.html" import leaderboard_table %}
{% from "./templates/macros/site-steps.html" import site_steps %}
{% from "./templates/macros/site-socials.html" import site_socials %}

{% block page_title %}

{% endblock %}

{% block page_body %}

	{{site_header()}}
	{{site_socials()}}
	{{site_steps()}}
	<select class="site-select" name="">
		<option value="">ALL</option>
		<option value="">Europe</option>
		<option value="">USA</option>
	</select>
	{{leaderboard_table(leaders)}}
	{{site_footer()}}

{% endblock %}
